* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  overflow-x: hidden;
}



.resolucion {
  width: 100%;
  text-align: center;
}


/**Movil**/

@media (max-width: 767px) {
  .desktop {
      display: none;
  }
  .tablet {
      display: none;
  }
  .v9_33 {
    width: 255px;
    height: 40px;
    background: url("../pagina clases/v9_33.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: -50px;
    overflow: hidden;
  }
  .v35_11 {
    width: 150px;
    height: 250px;
    background: url("../pagina clases/v35_11.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 125px;
    overflow: hidden;
  }
  .v35_12 {
    width: 150px;
    height: 250px;
    background: url("../pagina clases/v35_12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 370px;
    left: 125px;
    overflow: hidden;
  }
  .v43_23 {
    width: 150px;
    height: 250px;
    background: url("../pagina clases/v43_23.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 640px;
    left: 125px;
    overflow: hidden;
  }
  .v59_4 {
    width: 50px;
    height: 50px;
    background: url("../pagina clases/v59_4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 350px;
    overflow: hidden;
  }
}


/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
  .desktop {
      display: none;
  }
  .movil {
      display: none;
  }
}


/**Escritorio**/

@media (min-width: 991px) {
  .tablet {
      display: none;
  }
  .movil {
      display: none;
  }
  .v9_32 {
    width: 100%;
    height: 800px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v59_4 {
    width: 100px;
    height: 100px;
    background: url("../pagina clases/v59_4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 1200px;
    overflow: hidden;
  }

  .v9_33 {
    width: 335px;
    height: 70px;
    background: url("../pagina clases/v9_33.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 10px;
    overflow: hidden;
  }

  .v35_11 {
    width: 250px;
    height: 400px;
    background: url("../pagina clases/v35_11.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 200px;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Agregando transición */
  }
.v35_11:hover {
  transform: scale(1.1); /* Escala al pasar el ratón */
  opacity: 0.9; /* Ligera reducción de opacidad */
}
  .v35_12 {
    width: 250px;
    height: 400px;
    background: url("../pagina clases/v35_12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 550px;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Agregando transición */
  }
  .v35_12:hover {
    transform: scale(1.1); /* Escala al pasar el ratón */
    opacity: 0.9; /* Ligera reducción de opacidad */
  }
  .v43_23 {
    width: 250px;
    height: 400px;
    background: url("../pagina clases/v43_23.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 900px;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Agregando transición */
  }
  .v43_23:hover {
    transform: scale(1.1); /* Escala al pasar el ratón */
    opacity: 0.9; /* Ligera reducción de opacidad */
  }
  .v19_3 {
    width: 100px;
    height: 75px;
    background: url("../pagina clases/v19_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 120px;
    left: 300px;
    overflow: hidden;
  }
  .v35_13 {
    width: 1400px;
    height: 130px;
    background: url("../pagina clases/v35_13.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 700px;
    left: -10px;
    overflow: hidden;
  }

}
