* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v9_29 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_30 {
  width: 468px;
  height: 130px;
  background: url("../pagina 1 images/v9_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 161px;
  overflow: hidden;
}
.v15_5 {
  width: 120px;
  height: 130px;
  background: rgba(156,155,197,1);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 41px;
  overflow: hidden;
}
.v15_6 {
  width: 120px;
  height: 130px;
  background: rgba(156,155,197,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
