* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    overflow-x: hidden;
}

.resolucion {
    width: 100%;
    text-align: center;
}


/**Movil**/

@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
    .v36_2 {
        width: 100%;
        height: 3024px;
        background: rgba(255, 255, 255, 1);
        opacity: 1;
        position: relative;
        top: 0px;
        left: 0px;
        overflow: hidden;
    }
    .v36_3 {
        width: 100px;
        height: 100px;
        background: url("../pagina halloween images/v36_3.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 50px;
        left: 50px;
        overflow: hidden;
    }
    .v1_11 {
        width: 300px;
        height: 300px;
        background: url("../pagina halloween images/v1_11.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 900px;
        left: 50px;
        overflow: hidden;
    }
    .v1_12 {
        width: 300px;
        height: 300px;
        background: url("../pagina halloween images/v1_12.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 1300px;
        left: 50px;
        overflow: hidden;
    }
    .v1_13 {
        width: 300px;
        height: 300px;
        background: url("../pagina halloween images/v1_13.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 1700px;
        left: 50px;
        overflow: hidden;
    }
    .v1_14 {
        width: 300px;
        height: 300px;
        background: url("../pagina halloween images/v1_14.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 2100px;
        left: 50px;
        overflow: hidden;
    }
    .v1_15 {
        width: 300px;
        height: 300px;
        background: url("../pagina halloween images/v1_15.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 2500px;
        left: 50px;
        overflow: hidden;
    }
    .v1_16 {
        width: 300px;
        height: 300px;
        background: url("../pagina halloween images/v1_16.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 2900px;
        left: 50px;
        overflow: hidden;
    }
    .v32_21 {
        h1 {
            font-family: 'Tw Cen MT Condensed', sans-serif;
            font-size: 35px;
            color: #9c9bc5;
            text-align: justify;
            /* Justifica el texto a ambos lados */
            margin: 20px 40px;
            /* Añade margen alrededor del párrafo */
            padding: 10px;
            /* Añade espacio interno dentro del párrafo */
            position: relative;
            /* Permite el uso de top, bottom, left, right */
            top: 150px;
            /* Desplaza el párrafo hacia abajo */
            left: -10px;
            /* Desplaza el párrafo hacia la derecha */
        }
        /* Estilo para los párrafos */
        p {
            font-family: 'Tw Cen MT Condensed', sans-serif;
            font-size: 25px;
            color: #7e7373;
            text-align: justify;
            /* Justifica el texto a ambos lados */
            margin: 20px 40px;
            /* Añade margen alrededor del párrafo */
            padding: 10px;
            /* Añade espacio interno dentro del párrafo */
            position: relative;
            /* Permite el uso de top, bottom, left, right */
            top: 150px;
            /* Desplaza el párrafo hacia abajo */
            left: -10px;
            /* Desplaza el párrafo hacia la derecha */
        }
    }
}


/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
    .desktop {
        display: none;
    }
    .movil {
        display: none;
    }
    .v36_2 {
        width: 100%;
        height: 1024px;
        background: rgba(255, 255, 255, 1);
        opacity: 1;
        position: relative;
        top: 0px;
        left: 0px;
        overflow: hidden;
    }
    .v36_3 {
        width: 272px;
        height: 272px;
        background: url("../pagina halloween images/v36_3.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 270px;
        left: 74px;
        overflow: hidden;
    }
    .v32_21 {
        h1 {
            font-family: 'Tw Cen MT Condensed', sans-serif;
            font-size: 35px;
            color: #9c9bc5;
            text-align: justify;
            /* Justifica el texto a ambos lados */
            margin: 20px 40px;
            /* Añade margen alrededor del párrafo */
            padding: 10px;
            /* Añade espacio interno dentro del párrafo */
            position: relative;
            /* Permite el uso de top, bottom, left, right */
            top: 150px;
            /* Desplaza el párrafo hacia abajo */
            left: -10px;
            /* Desplaza el párrafo hacia la derecha */
        }
        /* Estilo para los párrafos */
        p {
            font-family: 'Tw Cen MT Condensed', sans-serif;
            font-size: 25px;
            color: #7e7373;
            text-align: justify;
            /* Justifica el texto a ambos lados */
            margin: 20px 40px;
            /* Añade margen alrededor del párrafo */
            padding: 10px;
            /* Añade espacio interno dentro del párrafo */
            position: relative;
            /* Permite el uso de top, bottom, left, right */
            top: 150px;
            /* Desplaza el párrafo hacia abajo */
            left: -10px;
            /* Desplaza el párrafo hacia la derecha */
        }
    }
}


/**Escritorio**/

@media (min-width: 991px) {
    .tablet {
        display: none;
    }
    .movil {
        display: none;
    }
    .v59_4 {
        width: 100px;
        height: 100px;
        background: url("../pagina clases/v59_4.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 30px;
        left: 1200px;
        overflow: hidden;
    }
    .v36_3 {
        width: 100px;
        height: 100px;
        background: url("../pagina halloween images/v36_3.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 50px;
        left: 50px;
        overflow: hidden;
    }
    .v34_3 {
        width: 70px;
        height: 70px;
        background: url("../pagina halloween images/v34_3.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 30px;
        left: 1300px;
        overflow: hidden;
    }
    .v1_11 {
        width: 400px;
        height: 400px;
        background: url("../pagina halloween images/v1_11.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 700px;
        left: 100px;
        overflow: hidden;
    }
    .v1_12 {
        width: 400px;
        height: 400px;
        background: url("../pagina halloween images/v1_12.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 700px;
        left: 800px;
        overflow: hidden;
    }
    .v1_13 {
        width: 400px;
        height: 400px;
        background: url("../pagina halloween images/v1_13.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 1200px;
        left: 100px;
        overflow: hidden;
    }
    .v1_14 {
        width: 400px;
        height: 400px;
        background: url("../pagina halloween images/v1_14.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 1200px;
        left: 800px;
        overflow: hidden;
    }
    .v1_15 {
        width: 400px;
        height: 400px;
        background: url("../pagina halloween images/v1_15.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 1700px;
        left: 100px;
        overflow: hidden;
    }
    .v1_16 {
        width: 400px;
        height: 400px;
        background: url("../pagina halloween images/v1_16.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 1700px;
        left: 800px;
        overflow: hidden;
    }
    .v32_21 {
        h1 {
            font-family: 'Tw Cen MT Condensed', sans-serif;
            font-size: 50px;
            color: #9c9bc5;
            text-align: justify;
            /* Justifica el texto a ambos lados */
            margin: 20px 40px;
            /* Añade margen alrededor del párrafo */
            padding: 10px;
            /* Añade espacio interno dentro del párrafo */
            position: relative;
            /* Permite el uso de top, bottom, left, right */
            top: 200px;
            /* Desplaza el párrafo hacia abajo */
            left: -10px;
            /* Desplaza el párrafo hacia la derecha */
        }
        /* Estilo para los párrafos */
        p {
            font-family: 'Tw Cen MT Condensed', sans-serif;
            font-size: 25px;
            color: #7e7373;
            text-align: justify;
            /* Justifica el texto a ambos lados */
            margin: 20px 40px;
            /* Añade margen alrededor del párrafo */
            padding: 10px;
            /* Añade espacio interno dentro del párrafo */
            position: relative;
            /* Permite el uso de top, bottom, left, right */
            top: 200px;
            /* Desplaza el párrafo hacia abajo */
            left: -10px;
            /* Desplaza el párrafo hacia la derecha */
        }
    }
    .v35_13 {
        width: 1400px;
        height: 130px;
        background: url("../pagina clases/v35_13.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 2300px;
        left: -10px;
        overflow: hidden;
    }
}
