* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.resolucion {
    width: 100%;
    text-align: center;
}

/**Movil**/

@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
    .v34_2 {
        width: 255px;
        height: 40px;
        background: url("../eventos images/v34_2.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 10px;
        left: -50px;
        overflow: hidden;
    }
    .v34_3 {
        width: 50px;
        height: 50px;
        background: url("../eventos images/v34_3.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 10px;
        left: 350px;
        overflow: hidden;
    }
    .v34_7 {
        width: 100px;
        height: 100px;
        background: url("../eventos images/v34_7.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 170px;
        left: 25px;
        overflow: hidden;
    }
    h1 {
        font-family: 'Tw Cen MT Condensed', sans-serif;
        font-size: 25px;
        color: #9c9bc5;
        text-align: justify; /* Justifica el texto a ambos lados */
        margin: 20px 40px; /* Añade margen alrededor del párrafo */
        padding: 10px; /* Añade espacio interno dentro del párrafo */
        position: relative; /* Permite el uso de top, bottom, left, right */
        top: 50px; /* Desplaza el párrafo hacia abajo */
        left: -10px; /* Desplaza el párrafo hacia la derecha */
      }
      
      /* Estilo para los párrafos */
      p {
        font-family: 'Tw Cen MT Condensed', sans-serif;
        font-size: 25px;
        color: #7e7373;
        text-align: justify; /* Justifica el texto a ambos lados */
        margin: 20px 40px; /* Añade margen alrededor del párrafo */
        padding: 10px; /* Añade espacio interno dentro del párrafo */
        position: relative; /* Permite el uso de top, bottom, left, right */
        top: 120px; /* Desplaza el párrafo hacia abajo */
        left: 100px; /* Desplaza el párrafo hacia la derecha */
      }
}

/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
    .desktop {
        display: none;
    }
    .movil {
        display: none;
    }
}

/**Escritorio**/

@media (min-width: 991px) {
    .tablet {
        display: none;
    }
    .movil {
        display: none;
    }

    .v18_2 {
        width: 100%;
        height: 500px; /* Aumenta la altura según sea necesario */
        background: rgba(255,255,255,1);
        opacity: 1;
        position: relative;
        top: 0px;
        left: 0px;
        overflow: hidden;
    }
    .v34_2 {
        width: 335px;
        height: 70px;
        background: url("../eventos images/v34_2.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 30px;
        left: 10px;
        overflow: hidden;
    }
    .v34_3 {
        width: 70px;
        height: 70px;
        background: url("../eventos images/v34_3.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 30px;
        left: 1200px;
        overflow: hidden;
    }
    
    .v34_7 {
        width: 150px;
        height: 150px;
        background: url("../eventos images/v34_7.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 150px;
        left: 50px;
        overflow: hidden;
    }

    h1 {
        font-family: 'Tw Cen MT Condensed', sans-serif;
        font-size: 35px;
        color: #9c9bc5;
        text-align: justify; /* Justifica el texto a ambos lados */
        margin: 20px 40px; /* Añade margen alrededor del párrafo */
        padding: 10px; /* Añade espacio interno dentro del párrafo */
        position: relative; /* Permite el uso de top, bottom, left, right */
        top: 10px; /* Desplaza el párrafo hacia abajo */
        left: 500px; /* Desplaza el párrafo hacia la derecha */
      }
      
      /* Estilo para los párrafos */
      p {
        font-family: 'Tw Cen MT Condensed', sans-serif;
        font-size: 50px;
        color: #7e7373;
        text-align: justify; /* Justifica el texto a ambos lados */
        margin: 20px 40px; /* Añade margen alrededor del párrafo */
        padding: 30px; /* Añade espacio interno dentro del párrafo */
        position: relative; /* Permite el uso de top, bottom, left, right */
        top: 100px; /* Desplaza el párrafo hacia abajo */
        left: 150px; /* Desplaza el párrafo hacia la derecha */
      }
}
