* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}


.resolucion {
  width: 100%;
  text-align: center;
}


/**Movil**/

@media (max-width: 767px) {
  .desktop {
      display: none;
  }
  .tablet {
      display: none;
  }
  .v9_37 {
    width: 255px;
    height: 40px;
    background: url("../pagina bibliografia/v9_37.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    overflow: hidden;
  }
  .v56_2 {
    width: 50px;
    height: 50px;
    background: url("../pagina sobre nosotros images/v56_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 350px;
    overflow: hidden;
  }
   /* Estilo para el encabezado h1 */
   h1 {
    font-family: 'Tw Cen MT Condensed', sans-serif;
    font-size: 35px;
    color: #9c9bc5;
    text-align: justify; /* Justifica el texto a ambos lados */
    margin: 20px 40px; /* Añade margen alrededor del párrafo */
    padding: 10px; /* Añade espacio interno dentro del párrafo */
    position: relative; /* Permite el uso de top, bottom, left, right */
    top: 170px; /* Desplaza el párrafo hacia abajo */
    left: -10px; /* Desplaza el párrafo hacia la derecha */
  }
  
  /* Estilo para los párrafos */
  p {
    font-family: 'Tw Cen MT Condensed', sans-serif;
    font-size: 25px;
    color: #7e7373;
    text-align: justify; /* Justifica el texto a ambos lados */
    margin: 20px 40px; /* Añade margen alrededor del párrafo */
    padding: 10px; /* Añade espacio interno dentro del párrafo */
    position: relative; /* Permite el uso de top, bottom, left, right */
    top: 170px; /* Desplaza el párrafo hacia abajo */
    left: 0px; /* Desplaza el párrafo hacia la derecha */
  }
  h2 {
    font-family: 'Tw Cen MT Condensed', sans-serif;
    font-size: 35px;
    color: #9c9bc5;
    text-align: justify; /* Justifica el texto a ambos lados */
    margin: 20px 40px; /* Añade margen alrededor del párrafo */
    padding: 10px; /* Añade espacio interno dentro del párrafo */
    position: relative; /* Permite el uso de top, bottom, left, right */
    top: 150px; /* Desplaza el párrafo hacia abajo */
    left: -10px; /* Desplaza el párrafo hacia la derecha */
  }
  p {
    font-family: 'Tw Cen MT Condensed', sans-serif;
    font-size: 25px;
    color: #7e7373;
    text-align: justify; /* Justifica el texto a ambos lados */
    margin: 20px 40px; /* Añade margen alrededor del párrafo */
    padding: 10px; /* Añade espacio interno dentro del párrafo */
    position: relative; /* Permite el uso de top, bottom, left, right */
    top: 150px; /* Desplaza el párrafo hacia abajo */
    left: 0px; /* Desplaza el párrafo hacia la derecha */
  }
  h3 {
    font-family: 'Tw Cen MT Condensed', sans-serif;
    font-size: 35px;
    color: #9c9bc5;
    text-align: justify;
    margin: 20px 40px;
    padding: 10px;
    position: relative;
    top: 150px;
    left: -10px;
  }
  
  p, ul li {
    font-family: 'Tw Cen MT Condensed', sans-serif;
    font-size: 25px;
    color: #7e7373;
    text-align: justify;
    margin: 20px 40px;
    padding: 0px;
    position: relative;
    top: 150px;
    left: 0px;
  }
}


/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
  .desktop {
      display: none;
  }
  .movil {
      display: none;
  }
}


/**Escritorio**/

@media (min-width: 991px) {
  .tablet {
      display: none;
  }
  .movil {
      display: none;
  }

  .v9_36 {
    width: 100%;
    height: 6024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v9_37 {
    width: 335px;
    height: 70px;
    background: url("../pagina bibliografia/v9_37.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 10px;
    overflow: hidden;
  }
  .v56_2 {
    width: 70px;
    height: 70px;
    background: url("../pagina sobre nosotros images/v56_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 1200px;
    overflow: hidden;
  }
/* Estilo para los párrafos */
h1 {
  font-family: 'Tw Cen MT Condensed', sans-serif;
  font-size: 35px;
  color: #9c9bc5;
  text-align: justify; /* Justifica el texto a ambos lados */
  margin: 20px 40px; /* Añade margen alrededor del párrafo */
  padding: 10px; /* Añade espacio interno dentro del párrafo */
  position: relative; /* Permite el uso de top, bottom, left, right */
  top: 150px; /* Desplaza el párrafo hacia abajo */
  left: -10px; /* Desplaza el párrafo hacia la derecha */
}

/* Estilo para los párrafos */
p {
  font-family: 'Tw Cen MT Condensed', sans-serif;
  font-size: 25px;
  color: #7e7373;
  text-align: justify; /* Justifica el texto a ambos lados */
  margin: 20px 40px; /* Añade margen alrededor del párrafo */
  padding: 10px; /* Añade espacio interno dentro del párrafo */
  position: relative; /* Permite el uso de top, bottom, left, right */
  top: 500px; /* Desplaza el párrafo hacia abajo */
  left: 0px; /* Desplaza el párrafo hacia la derecha */
}
p, ul li {
  font-family: 'Tw Cen MT Condensed', sans-serif;
  font-size: 25px;
  color: #7e7373;
  text-align: justify;
  margin: 20px 40px;
  padding: 0px;
  position: relative;
  top: 150px;
  left: 0px;
}
}